<div style="font-family: sans-serif; font-size: 10pt">

<p>
Just sending my usual reminder about our book group meeting this {{weekday}}{{#has_unusual_location}}. Note the different location{{/has_unusual_location}}:

</p>

<p>
<strong>
Book: {{book_title}}<br>
Author: {{author}}<br>
Date: {{weekday}}, {{date_str}}<br>
Time: {{time_str}}<br>
Location:
    {{^online_event}}
        {{#has_unusual_location}}<span style="background-color: #FFEA66">{{/has_unusual_location}}
            {{location}}
        {{#has_unusual_location}}</span>{{/has_unusual_location}}
    {{/online_event}}
    {{#online_event}}
        Zoom video conference (must RSVP on <a href="{{{event_url}}}">Meetup</a> to see link)
    {{/online_event}}
</strong>
</p>


{{^online_event}}
    <p>
        Thanks to everyone who already RSVP'd <a href="{{{event_url}}}">on Meetup</a> - that helps us make sure there's enough space for everyone.
    </p>
{{/online_event}}
{{#online_event}}
    <p>
        We're capping the discussion this time using Meetup RSVPs, so please <a href="{{{event_url}}}">RSVP</a> if you'd like to join and look for the Zoom link on the meetup event.
    </p>
{{/online_event}}
    <p>
    <strong>If you're no longer able to make it</strong> be sure to change your RSVP to free a slot for someone else. <strong>If you haven't read this book</strong> and there are folks stuck on the waitlist, consider removing yourself to give others a spot.
    </p>
<p>
    Hope to see you there!
</p>
<p>
- Troy
</p>

<p>
    <small>
    P.S. If you'd like to be taken off this list, just reply and let me know.
    </small>
</p>
</div>
