<div style="font-family: sans-serif; font-size: 10pt">
<p>
Just sending my usual reminder about our book group meeting this {{weekday}}:
</p>

<p>
<strong>
Book: {{book_title}}<br>
Author: {{author}}<br>
Date: {{weekday}}, {{date_str}}<br>
Time: {{time_str}}<br>
Location: {{room}}, Main library
</strong>
</p>

<p>
    Thanks to everyone who already RSVP'd <a href="{{{event_url}}}">on Meetup</a> - that helps us make sure there's enough space for everyone.
</p>

<p>
    Hope to see you there! 
</p>
<p>
- Troy
</p>

<p>
    <small>
    P.S. If you'd like to be taken off this list, just reply and let me know.
    </small>
</p>
</div>
