<h1>Events#list</h1>

<table>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <a href="<%= event_path(event[:id]) %>"><%= event[:name] %></a>
        </td>
        <td>
          <%= link_to 'Cross post', controller: 'cross_posts', action: 'new', event_id: event[:id] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
