<h1>Meetup Events</h1>

<h2>Upcoming</h2>
<table>
  <tbody>
    <% @upcoming_events.each do |event| %>
      <tr>
        <td>
          <a href="<%= event_path(event[:id]) %>"><%= event[:name] %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Recent</h2>
<table>
  <tbody>
    <% @recent_events.each do |event| %>
      <tr>
        <td>
          <a href="<%= event_path(event[:id]) %>"><%= event[:name] %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
