<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- If you delete this meta tag, the ground will open and swallow you. -->
<meta name="viewport" content="width=device-width">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{main_title}}</title>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#13747D">
  <tr>
    <td></td>
    <td class="header container" align="">

      <!-- /content -->
      <div class="content">
        <table bgcolor="#13747D">
          <tr>
            <td><img src="https://sfhumanists.org/wp-content/uploads/2018/06/white_logo.png"></td>
            <td align="right"><h6 class="white collapse">Bay Area Humanists</h6></td>
          </tr>
        </table>
      </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="">
  <tr>
    <td></td>
    <td class="container" align="" bgcolor="#FFFFFF">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td>

              <h1>{{main_title}}</h1>

              <!-- A Real Hero (and a real human being) -->
              <p><img src="{{hero_url}}" alt="{{hero_alt}}"></p><!-- /hero -->
              <p>{{{lead_html}}}</p>
            </td>
          </tr>
        </table>
      </div><!-- /content -->

      <div class="content"><table bgcolor="">
        <tr>
          <td>
            <h3>Our events</h3>
          </td>
        </tr>
      </table></div><!-- /content -->
      {{#our_events}}
      <!-- EVENT -->
      <!-- content -->
      <div class="content">

        <table bgcolor="">
          <tr>
            <td class="small" width="20%" style="vertical-align: top; padding-right:10px; padding-top: 0;">
              <table class="time">
                <tr class="month"><!-- strong -->
                  <td>{{month}}</td>
                </tr>
                <tr class="mday"><!-- span -->
                  <td>{{mday}}</td>
                </tr>
                <tr class="wday"><!-- em -->
                  <td>{{wday}}</td>
                </tr>
              </table>
            </td>
            <td>
              <h4>{{title}}</h4>

              <p class="">{{{description_html}}}</p>
              <a class="btn" href="{{url}}">More info &raquo;</a>
            </td>
          </tr>
        </table>
      </div><!-- /content -->
      <!-- ENDEVENT -->
      {{/our_events}}

      {{#other_events.length}} {{! Show this heading only if there is at least one such event }}
      <div class="content"><table bgcolor="">
        <tr>
          <td>
            <h3>Local highlights</h3>
          </td>
        </tr>
      </table></div><!-- /content -->
      {{/other_events.length}}

      {{#other_events}}
      <!-- EVENT -->
      <!-- content -->
      <div class="content">

        <table bgcolor="">
          <tr>
            <td class="small" width="20%" style="vertical-align: top; padding-right:10px; padding-top: 0;">
              <table class="time">
                <tr class="month"><!-- strong -->
                  <td>{{month}}</td>
                </tr>
                <tr class="mday"><!-- span -->
                  <td>{{mday}}</td>
                </tr>
                <tr class="wday"><!-- em -->
                  <td>{{wday}}</td>
                </tr>
              </table>
            </td>
            <td>
              <h4>{{title}}</h4>

              <p class="">{{{description_html}}}</p>
              <a class="btn" href="{{url}}">More info &raquo;</a>
            </td>
          </tr>
        </table>
      </div><!-- /content -->
      <!-- ENDEVENT -->
      {{/other_events}}

      {{#articles}}
      <div class="content">

        <table bgcolor="">
          <tr>
            <td>
              <h3>{{title}}</h3>

              <p class="">{{{copy_html}}}</p>
            </td>
          </tr>
        </table>
      </div><!-- /content -->
    {{/articles}}

      <!-- content -->
      <div class="content">
        <table bgcolor="">
          <tr>
            <td>

              <!-- social & contact -->
              <table bgcolor="" class="social" width="100%">
                <tr>
                  <td>
                    <div class="column">
                      <table bgcolor="" cellpadding="" align="left">
                        <tr>
                          <td>
                            <h5 class="">Have a story to share?</h5>
                            Email us: <strong><a href="emailto:bayarea@sfhumanists.org">bayarea@sfhumanists.org</a></strong>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="clear"></div>

                  </td>
                </tr>
              </table><!-- /social & contact -->

            </td>
          </tr>
        </table>
      </div><!-- /content -->


    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">

        <!-- content -->
        <div class="content">
          <table>
            <tr>
              <td align="center">
                <p>
                  <a href="{profile_url}">Manage your subscription</a>
                </p>
              </td>
            </tr>
          </table>
        </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>
