// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-all {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

.email-body {
    padding-top: .6em;
    padding-left: .8em;
    padding-right: .8em;
    padding-bottom: .6em;
}
