<section id="session-saver-overlay">
  <div class="flex three center">
    <div></div>
    <article class="card">
      <header>
        <h3>Your session expired</h3>
      </header>
      <footer>
        <a href="/login" target="_blank">Sign in from another tab</a> to avoid losing your work
      <footer>
    </article>
    <div></div>
  </div>
</section>
